{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-md-auto">
        <div class="" style="margin-bottom: 5em">
          <div class="card bg-light mb-3 mt-5" style="max-width: 600px;">
            <div class="card-body" style="background-color: white;">
              <form class="form-horizontal" role="form" method="post">
                {% if error %}
                  <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                  </div>
                {% endif %} {% if app.user %}
                  <div class="mb-3">
                    Você está "logado" com {{ app.user.email }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                  </div>
                {% endif %}
                <div class="form-group">
                  <label for="email" class="col-md-4 control-label">Email</label>
                  <div class="col-md-12">
                    <input
                        id="inputEmail"
                        type="email"
                        class="form-control"
                        name="email"
                        value="{{ last_username }}"
                        required
                        autofocus
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-4 control-label">Senha</label>
                  <div class="col-md-12">
                    <input
                        id="inputPassword"
                        type="password"
                        class="form-control"
                        name="password"
                        required
                    />
                  </div>
                </div>
                <input
                    type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                />
                <div class="form-group">
                  <ul class="text-right" style="margin-right: 2em">
                    <a class="btn btn-outline-dark" href="{{ path('registration') }}">
                      <i class="fa fa-btn fa-sign-in"></i> Cadastrar
                    </a>
                    <button type="submit" class="btn btn-outline-dark align-self-end">
                      <i class="fa fa-btn fa-sign-in"></i> Entrar
                    </button>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}