{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="max-width: 600px;">
                    <div class="card-body" style="background-color: white;">
                        {{ form_start(form) }}
                        <div class="form_group">
                            <div class="col-md-12 mb-3">
                                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form_group">
                            <div class="col-md-12 mb-3">
                                {{ form_row(form.password.first, {'attr': {'class':
                                    'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form_group">
                            <div class="col-md-12 mb-3">
                                {{ form_row(form.password.second, {'attr': {'class':
                                    'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <ul class="text-right" style="margin-right: 2em">
                                <a class="btn btn-outline-dark" href="{{ path('homepage') }}">
                                    <i class="fa fa-btn fa-sign-in"></i> Cancelar
                                </a>
                                <button type="submit" class="btn btn-outline-dark align-self-end">
                                    <i class="fa fa-btn fa-sign-in"></i> Cadastrar
                                </button>
                            </ul>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}