<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta lang="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Bem vindo!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container mt-4 mb-3">
            <a class="navbar-brand mr-4 pr-2" href="{{ path('homepage') }}">
                {% if app.user %}
                    &#128511;  Gerenciar Eventos
                {% else %}
                    &#128511;  Eventos
                {% endif %}
            </a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#header-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Show/Hide navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
            <div class="collapse navbar-collapse" id="header-menu">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item mr-3"><a class="btn btn-sm btn-outline-light" href="{{ path('app_logout') }}">Sair</a></li>
                    {% else %}
                        <li class="nav-item mr-3"><a class="btn btn-sm btn-outline-light" href="{{ path('app_login') }}">Entrar</a></li>
                        <li class="nav-item mr-3"><a class="btn btn-sm btn-outline-light" href="{{ path('registration') }}">Cadastrar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container mt-5">
    {% block body %}{% endblock %}
</main>

<footer class="mt-7 px-3 py-5 text-center text-muted bg-dark">
    Gerenciador de Eventos
    <p><a href="#" class="text-white">Volte ao topo</a></p>
</footer>

<a style="align-self: center">Henrique Lopes Lima</a>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock %}
</body>
</html>
