{% extends 'base.html.twig' %}

{% block title %}Evento - {{ event }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />

    <div class="row">
        <div class="col-8">
            <h1 style="font-family: 'Zilla Slab', serif; font-weight: 600;">{{ event }}</h1>
        </div>
    </div>
    <hr>
    <h2 style="font-family: 'Zilla Slab', serif; font-weight: 400; font-max-size: 16px">{{ event.description }}</h2>
    <p style="font-size: 1.2em">Vai começar no dia <span class="font-date">{{ event.getDateBegin|date('d/m/Y') }}</span> às <span class="font-date">{{ event.getDateBegin|date('h:s') }}</span> e vai terminar no dia <span class="font-date">{{ event.getDateEnd|date('d/m/Y') }}</span> às <span class="font-date">{{ event.getDateEnd|date('h:s') }}</span></p>
    <hr>
    <h2 style="margin-bottom: 2rem">Palestras</h2><p>
    <div class="row">
        <div class="col-12 col-lg-8">
            {% if lectures|length > 0 %}
                {% for lecture in lectures %}
                    {{ include('lecture/widget.html.twig') }}
                {% endfor %}
                <div>Temos {{ lectures|length }} palestras cadastradas : )</div>
            {% else %}
                <div style="margin-bottom: 2rem; font-size: 22px">
                    Não temos nenhuma palestra : /
                </div>
            {% endif %}
        </div>
        {% if app.user %}
            <div class="col-12 col-lg-4">
                <div class="bg-light shadow border rounded-lg p-4" style="margin-bottom: 2em">
                    <div id="create-lecture">
                        {{ include('lecture/create.html.twig') }}
                    </div>
                    <div id="edit-lecture">
                        {{ include('lecture/edit.html.twig') }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <script>
        let LectureID = 0;

        function FormataStringData(data) {
            var dia  = data.split("/")[0];
            var mes  = data.split("/")[1];
            var ano  = data.split("/")[2];
            return ano + '-' + ("0"+mes).slice(-2) + '-' + ("0"+dia).slice(-2);
            // Utilizo o .slice(-2) para garantir o formato com 2 digitos.
        }

        function deleteLecture(idLecture, idEvent) {
            Swal.fire({
                title: 'Tem certeza?',
                text: "Apagar a palestra!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim!',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Apagado!',
                        'A palestra foi apagada',
                        'success'
                    ).then((_) => window.location.assign('http://127.0.0.1:8000/evento/' + idEvent));

                    let url = 'http://127.0.0.1:8000/api/lecture/delete/' + idLecture;
                    let xhr = new XMLHttpRequest();
                    xhr.open('DELETE', url, true);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200)
                                console.log(JSON.parse(xhr.responseText));
                        }
                    }
                    xhr.send();
                }
            });
        }

        async function editLecture(idLecture) {
            LectureID = idLecture;
            $('#create-lecture').hide();
            $('#edit-lecture').show();
            let lecture = await lectureById(idLecture);
            setEditForm(lecture)
        }

        async function lectureById(idLecture) {
            let resp = {};
            await $.ajax({
                url:'http://127.0.0.1:8000/api/lecture/' + idLecture,
                type: 'GET',
                datatype: 'json',
                success: function(response) {
                    resp = response["lecture"];
                },
                error: function(error) {
                    console.log(error)
                }
            });
            return resp;
        }

        function setEditForm(lecture){
            $('#title_edit').val(lecture["title"]);
            $('#date_begin_edit').val(moment(Date(lecture.date_begin)).format("DD/MM/YYYY"));
            $('#hour_begin_edit').val(lecture["hour_begin"]);
            $('#hour_end_edit').val(lecture["hour_end"]);
            $('#speaker_edit').val(lecture["speaker"]);
            $('#description_edit').val(lecture["description"]);
        }

        function formatResult(form) {
            result = {};
            $.each($(form).serializeArray(), function() {
                result[this.name] = this.value;
            });
            return result;
        }

        jQuery(function($) {
            $('#edit-lecture').hide();

            $(".editEvent").click(function(){
                LectureID = $(this).data('id');
                $('#create-lecture').hide();
                $('#edit-event').hide(false);
            });

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
            });

            $("#form-create-lecture").validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 5
                    },
                    description: {
                        required: true,
                        minlength: 5,
                    },
                    date_begin: {
                        required: true,
                    },
                    hour_begin: {
                        required: true,
                    },
                    hour_end: {
                        required: true,
                    },
                    speaker: {
                        required: true,
                    },
                    event_id: {
                        required: true,
                    }
                },
                submitHandler: function(form) {
                    $(form).find('button[type=submit]').addClass("disabled btn-progress");
                    let data = formatResult(form);
                    let date_begin = FormataStringData(data.date_begin);
                    $.ajax({
                        url:'http://127.0.0.1:8000/api/lecture/create',
                        type: 'POST',
                        datatype: 'json',
                        data: {
                            title: data.title,
                            description: data.description,
                            date: date_begin,
                            hour_begin: data.hour_begin,
                            hour_end: data.hour_end,
                            event_id: data.event_id,
                            speaker: data.speaker
                        },
                        success: function(response) {
                            Swal.fire(
                                'Palestra!',
                                'A palestra foi criada',
                                'success'
                            ).then((_) => window.location.assign('http://127.0.0.1:8000/evento/'+data.event_id));
                        },
                        error: function() {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Palestra não criada!',
                            })
                        },
                        complete: function() {
                            $(form).find('button[type=submit]').removeClass("disabled btn-progress");
                        }
                    });
                }
            });

            $("#form-edit-lecture").validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 5
                    },
                    description: {
                        required: true,
                        minlength: 5,
                    },
                    date_begin: {
                        required: true,
                    },
                    hour_begin: {
                        required: true,
                    },
                    hour_end: {
                        required: true,
                    },
                    speaker: {
                        required: true,
                    },
                    event_id: {
                        required: true,
                    }
                },
                submitHandler: function(form) {
                    $(form).find('button[type=submit]').addClass("disabled btn-progress");
                    let data = formatResult(form);
                    let date_begin = FormataStringData(data.date_begin);
                    $.ajax({
                        url:'http://127.0.0.1:8000/api/lecture/update/' + LectureID,
                        type: 'PUT',
                        datatype: 'json',
                        data: {
                            title: data.title,
                            description: data.description,
                            date: date_begin,
                            hour_begin: data.hour_begin,
                            hour_end: data.hour_end,
                            event_id: data.event_id,
                            speaker: data.speaker
                        },
                        success: function(response) {
                            Swal.fire(
                                'Palestra!',
                                'A palestra foi atualizada',
                                'success'
                            ).then((_) => window.location.assign('http://127.0.0.1:8000/evento/'+ response.lecture.event_id));
                        },
                        error: function() {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Palestra não foi atualizada!',
                            })
                        },
                        complete: function() {
                            $(form).find('button[type=submit]').removeClass("disabled btn-progress");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

